/*resetting default browser styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*body styles*/

body{
    background-color: rgb(213, 225, 239);
font-family: 'Outfit', sans-serif;
}

/*image styles*/

.qr-code img{
    width: 100%;
    height: auto;
    margin: auto;
    display:block;
    border-radius: 10px;
}

/*parent div styles*/

.container{
    background-color: white;
width: 400px;
height: 560px;
border-radius: 10px;
padding: 10px;
margin: auto;
margin-top: 10%;
}

/*text styles*/


.text{
    text-align: center;
    padding: 20px;
    
}

h1{
    font-size: 22px;
    line-height: 120%;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 0px;
    color: rgb(32, 49, 79);
}

p{
    font-size:15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 300;
    color: rgb(104, 119, 141);
}